mixin intro()
  -
    const mock = [
      {text: "Выберите<br> направление"},
      {text: "Изучите идеи<br> путешественников"},
      {text: "Находите тех,<br> кто похож на&#160;вас"},
      {text: "Путешествуйте<br> вместе!"}
    ]
  - let i = 1
  section.intro
    .container
      .intro__back
        +img("content", "introback", "png", 1440, 750, "Планета.")
      .intro__cont
        h1!= "В&#160;путешествие с&#160;крутыми попутчиками!"
        .intro__pic
          +pic("content", "intro", "png", 431, 640, 437, 430, 192, 255, "Путешественник.")
        ul.intro__list
          each item in mock
            li.intro__item(class= `intro__item--${i}`)!= item.text
            - i++
