mixin intro()
  section.intro
    .container
      .intro__wrapper
        h1!= "Чем дольше&#160;&#8212; тем больше!"
        p!= "Мы&#160;считаем каждый день вместе! Проверьте, сколько вы&#160;с&#160;&#171;Пакетом&#187;, выигрывайте баллы &#171;X5&#160;Клуба&#187; и&#160;ценные призы от&#160;Ситилинк."
        label.intro__agree
          input.intro__checkbox.visually-hidden(type="checkbox", name="agreement1", id="agreement1-form", tabindex="-1", required)
          span.intro__check(tabindex="0")
          span.intro__subtext!= "Я&#160;согласен&#160;на "
            span!= "участие в&#160;акции"
        +btn({href: '#'}).intro__btn= "Принять участие"
      .intro__picture.intro__picture--first
        +picture("content", "introback", "png", 375, 480, 1440, 655, "")
      .intro__picture.intro__picture--second
        +picture("content", "intro", "png", 375, 423, 1440, 655, "Акция.")
