mixin serv()
  section.serv
    .container
      h2.serv__title!= "О&#160;сервисе"
      .serv__cont
        p.serv__desc!= "Любое путешествие веселее с&#160;попутчиками, которые на&#160;одной волне с&#160;тобой! Делитесь своими идеями путешествий и&#160;черпайте вдохновение в&#160;чужих."
        p.serv__text!= "А&#160;если найдете кого-то близкого по&#160;<br>духу&#160;- скорее зовите в&#160;совместный трип!"
        +btn({href: '#'}).serv__btn.btn= "Подробнее"
          svg.btn__svg(xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none")
            path(d="M11.5928 7L0.818832 13.0622V0.937822L11.5928 7Z" fill="#1d2e5b")
      .serv__pic
        +pic("content", "serv", "png", 655, 665, 368, 546, 292, 353, "Путешественник.")
