.add {
  position: relative;
  gap: 50px;
  width: 100vw;
  margin: 0 0 -100px;
  padding: 150px 0 50px;
  overflow: hidden;

  @include vp-1439 {

  }

  @include vp-1279 {

  }

  @include vp-1023 {

  }

  @include vp-767 {

  }

  @include vp-374 {

  }

  .container {
    @include flex {
      position: relative;
      width: 100%;
      gap: 0;

      @include vp-1023 {

      }

      @include vp-767 {

      }
    }
  }

  & h2 {
    @include flex {

    }

    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__list {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__item {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__card {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__wrap {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__wrap h3 {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__wrap div {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__wrap img {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__btn {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__btn span {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }
}
