.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 20px;
  padding: 29px 35px 27px 34px;
  border-radius: 20px;
  background-color: $color-pale-cornflower-blue;
  color: $color-catalina-blue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  border: none;
  cursor: pointer;
  transition: background-color $trans-300;

  @include vp-767 {
    padding: 28px 33px 24px 31px;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    background-color: $color-jordy-blue;

    .btn__svg {
      transform: rotate(-90deg);
    }
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    .btn__svg {
      opacity: 0.3;
    }
  }

  &__svg {
    transition: transform $trans-300;
  }
}
