.intro {
  @include flex {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 0 0 60px 60px;
    background-color: $color-chambray;
    overflow: hidden;
    z-index: 11;
  }

  @include vp-1023 {
    border-radius: 0;
    background-color: $color-midnight-express-2;
  }

  .container {
    @include grid {
      width: 100%;
      gap: 0;
    }

    & > * {
      grid-area: 1/1/2/2;
    }
  }

  &__back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1440px;
    z-index: -1;

    @include vp-1023 {
      bottom: unset;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $color-chambray;
    }

    @include vp-767 {
      max-height: 628px;
      overflow: hidden;
    }
  }

  &__back img {
    @include vp-1023 {
      margin: 86px 0 0 158px;
      transform: scale(1.21, 1.21);
    }

    @include vp-767 {
      transform: scale(1.16, 1.16);
      margin: 76px 0 0 -1px;
    }
  }

  &__cont {
    @include grid(39%, 1fr) {
      position: relative;
      gap: 0 156px;
      padding: 102px 30px 0 32px;
    }

    @include vp-1439 {
      gap: 0 80px;
      padding: 102px 0 0;
    }

    @include vp-1023 {
      grid-template-columns: 1fr;
      padding: 159px 0 0;
    }

    @include vp-767 {
      padding: 102px 0 0;
    }
  }

  &__cont h1 {
    height: fit-content;
    margin: 0;
    padding: 87px 0 0;
    color: $color-default-white;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-variant: all-small-caps;

    @include vp-1439 {
      font-size: 60px;
    }

    @include vp-1023 {
      width: 65%;
      padding: 0 0 0 31px;
      line-height: 116%;
    }

    @include vp-767 {
      padding: 0 0 0 10px;
      font-size: 36px;
      line-height: 111%;
    }
  }

  &__pic {
    width: 431px;
    height: 640px;

    @include vp-1023 {
      width: 437px;
      height: 530px;
      margin: -71px 22px 0 auto;
    }

    @include vp-767 {
      width: 192px;
      height: 255px;
      margin: 38px 27px 0 auto;
    }
  }

  &__pic img {
    width: 100%;
  }

  &__list {
    @include grid(26%, 24%, 29%, 21%) {
      position: absolute;
      bottom: 115px;
      left: 50%;
      transform: translate(-50%, 0);
      gap: 30px 0;
      width: calc(100% - 40px);
      list-style: none;
      margin: 0;
      padding: 0;
      border-radius: 20px;
      counter-reset: list_counter;
    }

    @include vp-1023 {
      position: static;
      grid-template-columns: 50% 50%;
      gap: 0;
      transform: unset;
      width: calc(100% - 32px);
      margin: 0 auto;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      width: auto;
      margin: -4px 8px 0 10px;
      border-radius: 10px;
    }
  }

  &__item {
    @include flex(row) {
      position: relative;
      gap: 10px;
      border-radius: 20px;
      overflow: hidden;
      color: $color-midnight-express;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      counter-increment: list_counter;
      transform: scale(0, 0) rotateX(360deg);
      transform-style: preserve-3d;
      perspective: 1000px;
      opacity: 0;
    }

    @include vp-1439 {
      font-size: 20px;
    }

    @include vp-1023 {
      flex-direction: column;
      gap: 12px;
      font-size: 24px;
      line-height: 100%;
      border-radius: unset;
    }

    @include vp-767 {
      flex-direction: row;
      font-size: 18px;
    }

    &::after {
      content: counter(list_counter);
      display: block;
      margin: 0 0 0 auto;
      color: $color-default-white;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;

      @include vp-1023 {
        margin: 0;
        font-size: 30px;
      }

      @include vp-767 {
        margin: 0 0 0 auto;
        font-size: 18px;
      }
    }
  }

  &__item:nth-child(4n + 1) {
    padding: 30px 62px 29px 34px;
    background-color: $color-picton-blue;

    @include vp-1023 {
      margin: 0 -28px 0 0;
      padding: 30px 80px 20px 34px;
      border-radius: 0 20px 20px 0;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
      margin: 0 0 -28px;
      padding: 22px 21px 50px 24px;
    }
  }

  &__item:nth-child(4n + 1):first-child {
    @include vp-1023 {
      border-radius: 20px 20px 20px 0;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
    }
  }


  &__item:nth-child(4n + 1):first-child:has(+ &__item:last-child) {
    @include vp-1023 {
      border-radius: 20px 20px 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
    }
  }

  &__item:nth-child(4n + 1):last-child:not(:first-child) {
    @include vp-1023 {
      border-radius: 0 20px 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 10px 10px;
    }
  }

  &__item:nth-child(4n + 1):not(:first-child):has(+ &__item:last-child) {
    @include vp-1023 {
      border-radius: 0 20px 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
    }
  }

  &__item:nth-child(4n + 1):not(:first-child) {
    @include vp-767 {
      margin: -32px 0 -28px;
    }
  }

  &__item:nth-child(4n + 1):first-child:last-child {
    @include vp-1023 {
      border-radius: 20px 20px 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 10px 10px;
    }
  }

  &__item:nth-child(4n + 2) {
    margin: 0 -28px 0 -28px;
    padding: 30px 60px 29px 29px;
    background-color: $color-jordy-blue;
    filter: drop-shadow(-4px 0 10px rgba(0, 0, 0, 0.25));

    @include vp-1023 {
      margin: 0;
      padding: 30px 80px 20px 34px;
      filter: unset;
      border-radius: 20px 0 0 0;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
      margin: 0;
      padding: 22px 21px 50px 24px;
    }
  }

  &__item:nth-child(4n + 1):first-child + &__item:nth-child(4n + 2) {
    @include vp-1023 {
      border-radius: 20px 20px 0 0;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
    }
  }

  &__item:nth-child(4n + 1):first-child + &__item:nth-child(4n + 2):last-child {
    @include vp-1023 {
      border-radius: 20px 20px 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 10px 10px;
    }
  }

  &__item:nth-child(4n + 1):first-child + &__item:nth-child(4n + 2):has(+ &__item:last-child) {
    @include vp-1023 {
      border-radius: 20px 20px 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
    }
  }

  &__item:nth-child(4n + 2):last-child {
    @include vp-1023 {
      border-radius: 20px 0 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 10px 10px;
    }
  }

  &__item:nth-child(4n + 2):has(+ &__item:last-child) {
    @include vp-1023 {
      border-radius: 20px 0 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
    }
  }

  &__item:nth-child(4n + 3) {
    padding: 30px 68px 29px 31px;
    background-color: $color-pale-cornflower-blue;
    filter: drop-shadow(-4px 0 10px rgba(0, 0, 0, 0.25));

    @include vp-1023 {
      margin: 0 -28px 0 0;
      padding: 30px 80px 20px 34px;
      filter: unset;
      border-radius: 0 20px 20px 0;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
      margin: -32px 0 -28px;
      padding: 22px 21px 50px 24px;
    }
  }

  &__item:nth-child(4n + 3):last-child {
    @include vp-1023 {
      border-radius: 0 20px 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 10px 10px;
    }
  }

  &__item:nth-child(4n + 3):has(+ &__item:last-child) {
    @include vp-1023 {
      border-radius: 0 20px 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
    }
  }

  &__item:nth-child(4n + 4) {
    margin: 0 0 0 -38px;
    padding: 30px 32px 29px 31px;
    background-color: $color-pattens-blue;
    filter: drop-shadow(-4px 0 10px rgba(0, 0, 0, 0.25));

    @include vp-1023 {
      margin: 0;
      padding: 30px 80px 20px 34px;
      filter: unset;
      border-radius: 0 0 0 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
      margin: 0;
      padding: 22px 21px 52px 24px;
    }
  }

  &__item:nth-child(4n + 4):last-child {
    @include vp-1023 {
      border-radius: 0 0 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 10px 10px;
    }
  }

  &__item:nth-child(4n + 4):has(+ &__item:last-child) {
    @include vp-1023 {
      border-radius: 0 0 20px 20px;
    }

    @include vp-767 {
      border-radius: 10px 10px 0 0;
    }
  }

  &__item:nth-child(2n + 1):last-child {
    @include vp-767 {
      margin: -32px 0 0;
      padding: 22px 21px 22px 24px;
    }
  }

  &__item:nth-child(2n):last-child {
    @include vp-767 {
      margin: 0;
      padding: 22px 21px 22px 24px;
    }
  }

  &__item--scale {
    transform: scale(1.5, 1.5) rotateX(0deg);
    opacity: 1;
    transition: transform $trans-400, opacity $trans-700;
  }

  &__item.is-active {
    transform: scale(1, 1);
    opacity: 1;
    transition: transform $trans-200;
  }
}
