.land {
  position: relative;
  padding: 152px 60px 67px;
  background-color: $color-solitude;
  border-radius: 0 0 56px 56px;
  z-index: 2;

  @include vp-1023 {
    background-color: $color-lavender;
    padding: 152px 60px 2px;
  }

  @include vp-767 {
    padding: 120px 25px 13px;
    border-radius: 0 0 20px 20px;
  }

  .container {
    @include flex {
      gap: 54px;
      padding: 0;
    }

    @include vp-1023 {
      gap: 39px;
    }

    @include vp-767 {
      gap: 0;
    }
  }


  &__head {
    @include grid(auto, 1fr, auto) {
      padding: 0 0 0 20px;
    }

    @include vp-1023 {
      grid-template-columns: 1fr auto;
      padding: 0 0 0 7px;
    }

    @include vp-767 {
      grid-auto-flow: dense;
      padding: 0 0 0 1px;
    }
  }

  &__title {
    @include flex(row) {
      align-items: center;
      gap: 22px;
    }

    @include vp-1023 {
      display: none;
    }

    @include vp-767 {
      display: flex;
      gap: 10px;
    }
  }

  &__title h2 {
    margin: 0;
    color: $color-midnight-express-3;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 16px;
      line-height: 112%;
    }
  }

  &__title svg {
    position: relative;
    top: -3px;

    @include vp-767 {
      width: 15px;
    }
  }

  &__countries {
    @include flex(row) {
      gap: 14px;
    }

    @include vp-1023 {
      gap: 10px;
    }

    @include vp-767 {
      grid-column: 1/2;
      flex-direction: column;
      gap: 0;
      max-height: 0;
      padding: 0 19px 0;
      opacity: 0;
      transition: opacity $trans-300, max-height $trans-300, padding $trans-300;
    }
  }

  &__head.is-active &__countries {
    max-height: 1000vh;
    opacity: 1;
    padding: 27px 19px 11px;
  }

  &__mainland {
    @include btn {
      padding: 10px 5px;
      color: $color-midnight-express-3;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      transition: opacity $trans-300;
      opacity: 0.3;
    }

    @include vp-767 {
      padding: 4px 5px 5px;
      font-size: 16px;
      line-height: 112%;
    }
  }

  &__mainland:has(> input:checked) {
    opacity: 1;
  }

  &__open {
    @include btn {
      position: relative;
      justify-content: space-between;
      align-items: center;
      gap: 26px;
      width: fit-content;
      max-width: 300px;
      padding: 10px 20px;
      color: $color-midnight-express-3;
      background-color: transparent;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
    }

    @include vp-1023 {
      left: 16px;
      padding: 10px 8px;
    }

    @include vp-767 {
      padding: 0;
      left: 0;
      gap: 0;
      pointer-events: none;
    }

    span {
      @include vp-767 {
        display: none;
      }
    }
  }

  &__icon {
    display: grid;
    grid-template-columns: 1fr;

    @include vp-767 {

    }
  }

  &__icon > * {
    margin: auto;
    grid-area: 1/1/2/2;
  }

  .land__dots {
    opacity: 1;

    @include vp-767 {
      width: 18px;
    }
  }

  .land__cross {
    opacity: 0;

    @include vp-767 {
      width: 18px;
    }
  }

  &__open.is-active {
    .land__dots {
      opacity: 0;
    }

    .land__cross {
      opacity: 1;
    }
  }

  &__cont {
    @include flex {
      position: relative;
      gap: 60px;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height $trans-300, opacity $trans-300, padding $trans-300;
    }

    @include vp-1023 {
      gap: 54px;
    }

    @include vp-767 {
      padding: 0 25px 0 25px;
    }

    &.is-active {
      max-height: 1000vh;
      opacity: 1;
      padding: 0 0 77px;

      @include vp-767 {
        padding: 5px 25px 77px 25px;
      }
    }
  }

  &__megalist {
    @include grid(1fr, 1fr, 1fr, 1fr, 1fr) {
      gap: 35px 40px;
      list-style: none;
      margin: 0;
      padding: 0 74px 0 35px;
    }

    @include vp-1279 {
      padding: 0;
    }

    @include vp-1023 {
      gap: 0;
      width: 58%;
    }

    @include vp-767 {
      position: relative;
      width: 100%;
    }
  }

  &__megaitem {
    @include flex {
      gap: 20px;
    }

    @include vp-1023 {
      gap: 0;
    }

    @include vp-767 {
      background-color: $color-default-white;
    }
  }

  &__letter {
    @include btn {
      position: relative;
      left: -8px;
      padding: 10px;
      color: $color-midnight-express-3;
      background-color: transparent;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
    }

    @include vp-1023 {
      left: unset;
      width: 76px;
      height: 83px;
      flex-shrink: 0;
      border-radius: 4px;
      border: 1px solid transparent;
      opacity: 0.3;
      transition: opacity $trans-300;
    }

    @include vp-767 {
      width: 44px;
      height: 41px;
      border: 1px solid $color-link-water;
      border-radius: 0;
      font-size: 16px;
    }
  }

  &__list {
    @include flex {
      gap: 0;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @include vp-1023 {
      position: absolute;
      display: none;
      top: 9px;
      left: 71%;
    }

    @include vp-767 {
      gap: 0;
      top: unset;
      left: 0;
      bottom: -15px;
    }
  }

  &__megaitem.is-active &__list {
    @include vp-1023 {
      display: flex;
    }
  }

  &__megaitem.is-active &__letter {
    @include vp-1023 {
      opacity: 1;
    }

    @include vp-767 {
      background-color: $color-catalina-blue;
      border: 1px solid $color-catalina-blue;
      color: $color-default-white;
    }
  }

  &__megaitem.is-active {
    @include vp-1023 {
      opacity: 1;
    }
  }

  &__item {
    display: none;
    color: $color-charcoal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include vp-767 {
      font-size: 16px;
      line-height: 137%;
    }
  }

  &__item.is-active {
    display: block;
  }

  &__close {
    @include btn {
      width: 100%;
      padding: 40px;
      border-radius: 20px;
      background-color: $color-hawkes-blue;
      color: $color-midnight-express-3;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      gap: 20px;
    }

    @include vp-1023 {
      width: unset;
      margin: 0 16px;
      padding: 40px 40px 35px;
      line-height: 125%;
    }

    @include vp-767 {
      font-size: 16px;
      letter-spacing: 0.8px;
    }
  }
}
