.land {
  position: relative;
  padding: 152px 60px 67px;
  background-color: $color-solitude;
  border-radius: 0 0 56px 56px;
  z-index: 2;

  @include vp-1023 {
    background-color: $color-lavender;
    padding: 152px 60px 79px;
  }

  @include vp-767 {
    padding: 111px 25px 67px;
  }

  .container {
    @include flex {
      gap: 54px;
      padding: 0;
    }

    @include vp-1023 {
      gap: 43px;
    }
  }


  &__head {
    @include grid(auto, 1fr, auto) {
      padding: 0 0 0 20px;
    }

    @include vp-1023 {
      grid-template-columns: 1fr auto;
      padding: 0 0 0 7px;
    }

    @include vp-767 {
      padding: 0 0 0 1px;
    }
  }

  &__title {
    @include flex(row) {
      align-items: center;
      gap: 22px;
    }

    @include vp-1023 {
      display: none;
    }

    @include vp-767 {
      display: flex;
      gap: 11px;
    }
  }

  &__title h2 {
    margin: 0;
    color: $color-midnight-express-3;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 16px;
      line-height: 112%;
    }
  }

  &__title svg {
    position: relative;
    top: -3px;
  }

  &__countries {
    @include flex(row) {
      gap: 14px;
    }

    @include vp-1023 {
      gap: 10px;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__mainland {
    @include btn {
      padding: 10px 5px;
      color: $color-midnight-express-3;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      transition: opacity $trans-300;
      opacity: 0.3;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 112%;
    }
  }

  &__mainland:has(> input:checked) {
    opacity: 1;
  }

  &__open {
    @include btn {
      justify-content: space-between;
      align-items: center;
      width: 200px;
      padding: 10px 20px;
      color: $color-midnight-express-3;
      background-color: transparent;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
    }

    @include vp-1023 {
      width: 150px;
    }

    @include vp-767 {
      padding: 5px 10px;
    }
  }

  &__cont {
    @include flex {
      position: relative;
      gap: 63px;
    }

    @include vp-1023 {
      gap: 52px;
    }

    @include vp-767 {
      gap: 10px;
    }
  }

  &__megalist {
    @include grid(1fr, 1fr, 1fr, 1fr, 1fr) {
      gap: 35px 40px;
      list-style: none;
      margin: 0;
      padding: 0 74px 0 35px;
    }

    @include vp-1279 {
      padding: 0;
    }

    @include vp-1023 {
      gap: 0;
      width: fit-content;
    }
  }

  &__megaitem {
    @include flex {
      gap: 20px;
    }

    @include vp-1023 {
      gap: 0;
    }
  }

  &__letter {
    @include btn {
      position: relative;
      left: -8px;
      padding: 10px;
      color: $color-midnight-express-3;
      background-color: transparent;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
    }

    @include vp-1023 {
      left: unset;
      width: 76px;
      height: 83px;
      flex-shrink: 0;
      border-radius: 4px;
      border: 1px solid transparent;
    }

    @include vp-767 {
      width: 42px;
      height: 40px;
      border: 1px solid $color-link-water;
    }
  }

  &__list {
    @include flex {
      gap: 0;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @include vp-1023 {
      position: absolute;
      top: 0;
      right: 0;
      gap: 9px;
    }

    @include vp-767 {
      gap: 8px;
    }
  }

  &__item {
    color: $color-charcoal;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include vp-767 {
      font-size: 16px;
      line-height: 137%;
    }
  }

  &__close {
    @include btn {
      width: 100%;
      padding: 40px;
      border-radius: 20px;
      background-color: $color-hawkes-blue;
      color: $color-midnight-express-3;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
    }

    @include vp-1023 {
      width: unset;
      margin: 0 16px;
      padding: 40px 40px 35px;
      line-height: 125%;
    }

    @include vp-767 {
      font-size: 16px;
      letter-spacing: 0.8px;
    }
  }
}
