.serv {
  position: relative;
  width: 100vw;
  background-color: $color-tints-of-midnight-express-2;
  border-radius: 0 0 56px 56px;
  overflow: hidden;

  @include vp-1023 {
    border-radius: 0 0 60px 60px;
  }

  @include vp-767 {
    border-radius: 0 0 30px 30px;
  }

  .container {
    @include grid(48.8%, 1fr) {
      grid-template-rows: repeat(auto-fit, minmax(67px, auto) minmax(300px, 1fr));
      position: relative;
      grid-auto-flow: dense;
      gap: 10px;
      width: 100%;
      padding: 93px 72px 0;

      @include vp-1023 {
        grid-template-columns: 57% 1fr;
        padding: 93px 40px 78px;
      }

      @include vp-767 {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        padding: 35px 25px 26px;
      }
    }
  }

  &__title {
    position: relative;
    height: fit-content;
    margin: -25px 0 -3px;
    color: $color-default-white;
    font-size: 95px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-variant: all-small-caps;
    z-index: 1;

    @include vp-1023 {
      grid-column: 1/3;
      margin: 0 0 8px;
    }

    @include vp-767 {
      grid-column: unset;
      margin: 0 0 2px 2px;
      font-size: 50px;
    }
  }

  &__cont {
    @include flex {
      position: relative;
      grid-column: 1/2;
      gap: 58px;
      padding: 0;
      z-index: 1;
    }

    @include vp-1023 {
      padding: 0 0 0 7px;
      gap: 103px;
    }

    @include vp-767 {
      gap: 38px;
      grid-column: unset;
      padding: 0;
    }
  }

  &__desc {
    margin: 0;
    color: $color-default-white;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 141%;

    @include vp-1023 {
      line-height: 137%;
    }

    @include vp-767 {
      margin: 0 0 0 2px;
      font-size: 14px;
      font-weight: 400;
      line-height: 157%;
    }
  }

  &__text {
    margin: 0 80px 79px 0;
    color: $color-default-white;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 109%;
    letter-spacing: -0.1px;

    @include vp-1023 {
      margin: 0 0 45px;
      font-size: 21px;
      font-weight: 300;
      line-height: 119%;
      letter-spacing: -1.2px;
    }

    @include vp-767 {
      margin: 0 0 4px;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: -0.8px;
    }

    br {
      display: none;

      @include vp-1023 {
        display: block;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  &__btn {
    position: relative;
    width: 284px;

    @include vp-1023 {
      width: 276px;
    }

    @include vp-767 {
      left: 1px;
      width: 263px;
      margin: 0 auto;
    }
  }

  &__pic {
    grid-row: span 2;
    width: 655px;
    height: 665px;

    @include vp-1023 {
      width: 368px;
      height: 546px;
      margin: 0 0 0 -51px;
    }

    @include vp-767 {
      position: absolute;
      bottom: 0;
      left: 54%;
      transform: translate(-50%, 0);
      grid-row: unset;
      width: 292px;
      height: 353px;
      margin: 0;
    }
  }

  &__pic img {
    width: 100%;
  }
}
