.team {
  position: relative;
  margin: -63px 0 0;
  overflow: hidden;



  @include vp-1279 {

  }

  @include vp-1023 {
    margin: -52px 0 0;
    padding: 0 0 69px;
    background-color: $color-midnight-express-3;
    border-radius: 0 0 60px 60px;
  }

  @include vp-767 {
    margin: -32px 0 0;
    background-color: $color-midnight-express-2;
    padding: 0 0 40px;
    border-radius: 0 0 28px 28px;
  }

  .container {
    @include grid(47.8%, 1fr) {
      position: relative;
      gap: 0;
      width: 100%;
      padding: 0;

      @include vp-1439 {
        grid-template-columns: 42% 1fr;
      }

      @include vp-1279 {
        grid-template-columns: 40% 1fr;
      }

      @include vp-1023 {
        grid-template-columns: 1fr;
        gap: 10px;
      }

      @include vp-767 {
        gap: 10px;
      }
    }
  }

  &__cont--1 {
    @include flex {
      gap: 20px;
      padding: 133px 93px 280px 72px;
    }

    @include vp-1279 {
      padding: 120px 30px 270px 20px;
    }

    @include vp-1023 {
      gap: 31px;
      padding: 114px 39px 67px;
    }

    @include vp-767 {
      gap: 7px;
      padding: 87px 16px 20px;
    }
  }

  &__cont--1 h2 {
    margin: 0;
    color: $color-midnight-express-3;
    font-size: 95px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-variant: all-small-caps;

    @include vp-1439 {
      font-size: 75px;
    }

    @include vp-1279 {
      font-size: 65px;
    }

    @include vp-1023 {
      font-size: 95px;
      color: $color-default-white;
    }

    @include vp-767 {
      margin: 0 0 0 12px;
      font-size: 50px;
    }
  }

  &__cont--1 p  {
    margin: 0 0 33px;
    color: $color-midnight-express-3;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 137%;

    @include vp-1023 {
      margin: 0 0 43px;
      color: $color-default-white;
      font-weight: 500;
      line-height: 141%;
    }

    @include vp-767 {
      margin: 0 5px 23px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 157%;
    }
  }

  &__cont--1 div {
    color: $color-midnight-express-3;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 109%;
    letter-spacing: -1.4px;

    @include vp-1023 {
      color: $color-default-white;
    }

    @include vp-767 {
      margin: 0 0 0 9px;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: -0.9px;
    }
  }

  &__cont--2 {
    @include grid(1fr, 1fr) {
      background-color: $color-blue-zodiac;
      border-radius: 0 0 56px 56px;
      gap: 30px;
      padding: 133px 74px 123px 76px;
    }

    @include vp-1439 {
      gap: 10px;
      padding: 100px 15px 80px 15px;
    }

    @include vp-1023 {
      gap: 114px;
      padding: 14px 40px 67px;
      background-color: transparent;
      border-radius: unset;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 44px;
      padding: 8px 9px 49px;
    }
  }

  &__card {
    @include flex {
      position: relative;
      width: 285px;
      height: fit-content;
      background-color: $color-default-white;
      border-radius: 20px;
      overflow: hidden;
    }

    @include vp-1023 {

    }

    @include vp-767 {
      width: 270px;
    }
  }

  &__card:nth-child(2n + 1) {
    margin: 0 0 69px;

    @include vp-1439 {
      margin: 0 auto 69px;
    }

    @include vp-1023 {
      margin: 0 auto;
    }
  }

  &__card:nth-child(2n + 2) {
    margin: 69px 0 0;

    @include vp-1439 {
      margin: 69px auto 0;
    }

    @include vp-1023 {
      margin: 0 auto;
    }
  }

  &__pic {


    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__pic img {
    width: 100%;

    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__wrap {
    @include flex {
      position: relative;
      align-items: center;
      gap: 21px;
      padding: 30px 15px 22px;
    }

    @include vp-1023 {
      padding: 30px 15px 27px;
    }

    @include vp-767 {
      gap: 15px;
      padding: 27px 15px 19px;
    }
  }

  &__name {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    color: $color-catalina-blue;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @include vp-767 {
      font-size: 21px;
    }

    &:before {
      @include pse {
        position: absolute;
        top: 7px;
        left: -22px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color-salmon;
      }

      @include vp-767 {
        top: 8px;
        left: -16px;
        width: 6px;
        height: 6px;
      }
    }
  }

  &__name.is-active {
    &:before {
      background-color: $color-lawn-green;
    }
  }

  &__hash {
    @include flex(row) {
      justify-content: center;
      gap: 20px;
      margin: 0 0 3px;
      font-size: 20px;
      text-align: center;
    }

    @include vp-1023 {

    }

    @include vp-767 {
      margin: 0;
      font-size: 16px;
      line-height: 112%;
    }
  }

  &__trans {
    @include flex(row) {
      justify-content: center;
      gap: 10px;
    }

    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__flags {
    @include flex(row) {
      position: absolute;
      justify-content: center;
      gap: 20px;
      top: -12px;
      left: 50%;
      transform: translate(-50%, 0);
      width: fit-content;
      height: 23px;
      z-index: 1;
    }

    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  &__flags img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__bar {
    @include flex {
      position: absolute;
      top: 20px;
      left: 22px;
      gap: 5px;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      border-radius: 50%;
      border: 4px solid rgba(255, 141, 48, 0.00);
      background: rgba(0, 0, 0, 0.60);
      z-index: 1;
    }

    @include vp-1023 {

    }

    @include vp-767 {
      top: 17px;
      left: 17px;
    }
  }

  &__bar > * {
    flex-shrink: 0;
  }

  &__circle {
    position: absolute;
    width: 60px;
    height: 60px;

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  &__count {
    position: relative;
    top: 5px;
    left: 3px;
    width: fit-content;
    height: fit-content;
    color: $color-default-white;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @include vp-1023 {

    }

    @include vp-767 {

    }

    &:after {
      @include pse {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-default-white;
        opacity: 0.3;
      }
    }
  }

  &__level {
    position: relative;
    top: 2px;
    left: 3px;
    color: $color-default-white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    @include vp-1023 {

    }

    @include vp-767 {

    }
  }

  .is-active path {
    opacity: 1;
  }

  &__btn {
    position: absolute;
    bottom: 159px;
    left: 74px;
    width: 293px;

    @include vp-1023 {
      position: relative;
      bottom: unset;
      left: unset;
      width: 616px;
      margin: 0 auto;
      padding: 29px 23px 27px 30px;
    }

    @include vp-767 {
      width: 270px;
      padding: 22px 23px 21px 23px;
      border-radius: 10px;
      font-size: 18px;
      line-height: 100%;
    }
  }
}

main > .team:not(:last-child) {
  margin: -63px 0;
}

