.traveler-card {
  width: 100%;
  margin-bottom: 31px;
  overflow: hidden;
  min-width: 0;

  @include vp-1023 {
    min-width: 0;
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }

  &__link {
    position: relative;
    display: grid;
    grid-template-columns: 285px 204px 1fr auto;
    grid-template-rows: minmax(96px, auto) auto auto;
    min-width: 0;
    width: 100%;
    background: $color-default-white;
    border-radius: 20px;

    @include vp-1023 {
      display: grid;
      grid-template-columns: 190px 1fr 175px 60px;
      grid-template-rows: minmax(49px, auto) min-content auto auto;
      gap: 0;
      padding: 33px 25px 28px 35px;
    }

    @include vp-767 {
      padding: 12px 18px 23px;
      row-gap: 5px;
      column-gap: 15px;
      grid-template-columns: 70px 1fr;
      grid-template-rows: min-content min-content min-content min-content;

      height: auto;
    }

    @include hover-focus {
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__image-wrapper {
    width: 285px;
    grid-column: 1;
    grid-row: 1 / 4;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 0 0 20px;
      display: block;
    }

    @include vp-1023 {
      width: 190px;
      height: 190px;
      grid-column: 1;
      grid-row: 1 / 4;
      margin-right: 0;
      padding-top: 3px;

      img {
        border-radius: 10px;
      }
    }

    @include vp-767 {
      position: relative;
      width: 70px;
      height: 70px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
    }
  }

  &__name {
    position: relative;
    margin: 0 0 6px;
    margin-left: 36px;
    padding-left: 26px;
    margin-top: 46px;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: $color-accent-second;
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-top: -8px;
    }

    @include vp-1023 {
      grid-column: 2 / 4;
      grid-row: 1;
      margin: 0;

      width: fit-content;

      padding-right: 29px;
      padding-left: 33px;

      &::before {
        left: auto;
        right: 0;
        margin-top: -11px;
      }
    }

    @include vp-767 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: $color-accent-second;

      padding: 0;
      padding-top: 3px;
      padding-right: 30px;
      max-width: 144px;

      &::before {
        width: 6px;
        height: 6px;
        margin-top: -21px;
      }
    }

    &--online {
      &::before {
        background-color: #81e31e;
      }
    }

    &--offline {
      &::before {
        background-color: #ff5e5e;
      }
    }
  }

  &__likes {
    display: flex;
    align-items: center;
    gap: 3px;
    grid-column: 3;
    grid-row: 3;
    min-width: 102px;
    margin-top: auto;
    margin-right: auto;
    margin-left: 4px;
    margin-bottom: 49px;

    @include vp-1023 {
      grid-column: 3;
      grid-row: 3;
      margin: 0;

      padding: 0;
      margin-top: 28px;
    }

    @include vp-767 {
      position: absolute;
      margin: 0;
      top: 45px;
      left: -36px;
      grid-row: 1;
      grid-column: 2;
      right: auto;
      min-width: auto;
      gap: 5px;
      padding-bottom: 0;
    }
  }

  &__likes-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $color-button-business;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-1023 {
      width: 57px;
      height: 50px;
    }

    @include vp-767 {
      width: 30px;
      height: 30px;
    }

    img {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include vp-767 {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__likes-count {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: $color-title;

    @include vp-767 {
      font-size: 14px;
      line-height: 114%;
    }
  }

  &__tags {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: $color-title-cards;
    margin-left: 62px;
    max-width: 221px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    @include vp-1023 {
      grid-column: 2 / 5;
      grid-row: 2;
      margin-left: 36px;
      padding-left: 0;
      max-width: 227px;
    }

    @include vp-767 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      max-width: 100%;
      margin: 0;
      margin-top: 11px;

      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: $color-default-black;

      padding-left: 8px;
    }
  }

  &__side-content {
    grid-column: 4;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 277px;
    margin: 50px 0 0 0;

    @include vp-1023 {
      grid-column: 1 / -1;
      grid-row: 4;
      width: 100%;
      margin: 17px 0 0;
    }

    @include vp-767 {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
      margin: 10px 0 0;
    }
  }

  &__flags-title {
    display: none;

    @include vp-1023 {
      position: relative;
      width: 100%;
      text-align: left;
      margin-bottom: 19px;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        width: 132%;
        height: 1px;
        left: -50px;
        right: 0;
        background-color: $color-background;
        top: 50%;
        transform: translateY(-50%);
      }

      span {
        position: relative;
        background-color: $color-default-white;
        padding-right: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 107%;
        color: $color-default-black;
        z-index: 1;

        margin-left: 49px;
      }

      @include vp-767 {
        margin-bottom: 17px;

        span {
          margin-left: 7px;

          font-size: 14px;
          line-height: 114%;
        }
      }
    }
  }

  &__flags-wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: auto;

    @include vp-1023 {
      flex-direction: row;
      gap: 10px;
      margin: 0;
    }

    @include vp-767 {
      flex-direction: column;
      padding-left: 7px;
      gap: 4px;
    }
  }

  &__flag-item {
    display: flex;
    align-items: center;
    gap: 18px;

    @include vp-1023 {
      gap: 13px;
      align-items: end;
      min-height: 24px;
    }

    @include vp-767 {
      gap: 14px;
      align-items: center;
    }

    &--seychelles {
      @include vp-1023 {
        margin-left: 5px;
      }

      @include vp-767 {
        margin-left: 0;
      }
    }

    &--germany {
      @include vp-1023 {
        margin-left: 11px;
      }

      @include vp-767 {
        margin-left: 0;
      }
    }
  }

  &__flag {
    width: 35px;
    height: 25px;
    border-radius: 4px;
    overflow: hidden;

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include vp-1023 {
      border-radius: 0;
      width: auto;
      height: 24px;

      picture,
      img {
        height: 24px;
        width: 100%;
      }
    }

    @include vp-767 {
      border-radius: 3px;
      width: auto;
      height: 24px;

      picture,
      img {
        height: 18px;
        width: 26px;
      }
    }
  }

  &__country-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-accent-second;

    @include vp-1023 {
      line-height: 90%;
    }

    @include vp-767 {
      font-weight: 500;
      font-size: 15px;
      line-height: 107%;
    }
  }

  &__bottom-content {
    grid-column: 4;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin-top: auto;
    margin-bottom: 43px;
    padding-right: 43px;

    @include vp-1023 {
      grid-column: 4 / 5;
      grid-row: 1 / 4;
      flex-direction: column;
      gap: 12px;
      margin: 0;
      padding: 0;

      justify-self: end;
    }

    @include vp-767 {
      display: grid;
      grid-template-columns: 1fr 48px;

      gap: 0;

      grid-column: 1 / -1;
      grid-row: 4 / 5;

      align-items: start;

      width: 100%;
    }
  }

  &__transport-title {
    display: none;

    @include vp-767 {
      display: block;

      grid-column: 1 / 2;
      grid-row: 1 / 2;

      font-weight: 400;
      font-size: 14px;
      line-height: 114%;
      color: $color-default-black;
      background-color: $color-default-white;
      padding-top: 2px;
      padding-left: 6px;
    }
  }

  .traveler-card__transport-title,
  .traveler-card__level-title {
    position: relative;
    background-color: $color-default-white;

    width: min-content;

    span {
      position: relative;
      z-index: 1;
      background-color: $color-default-white;
      padding: 0 5px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $color-background;
      z-index: 0;
    }
  }

  .traveler-card__transport-title {
    &::after {
      left: -40px;
      right: -72px;
      bottom: 6px;
    }
  }

  .traveler-card__level-title {
    &::after {
      left: -40px;
      right: -72px;
      bottom: 6px;
    }
  }

  &__transport {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 6px;
    min-width: 120px;

    @include vp-1023 {
      flex-direction: column;
      gap: 10px;
      align-self: flex-end;
      justify-self: start;
      min-width: 60px;
      margin-top: 5px;
    }

    @include vp-767 {
      flex-direction: row;
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      align-self: start;
      margin: 0;
      gap: 0;
      padding-left: 2px;
      margin-top: 5px;
    }
  }

  &__transport-item {
    width: 22px;
    height: 22px;

    @include vp-1023 {
      margin: 0 auto;
    }

    &--inactive {
      opacity: 0.3;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include vp-767 {
      width: 33px;
      height: 32px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $color-button-business;
        border-radius: 50%;
        z-index: 0;
      }

      img {
        position: relative;
        z-index: 1;
        width: auto;
        height: 16px;
      }
    }
  }

  &__level-title {
    display: none;

    @include vp-767 {
      display: block;
      margin-bottom: 11px;

      font-weight: 400;
      font-size: 14px;
      line-height: 114%;
      color: $color-default-black;
      padding-top: 2px;
      padding-right: 6px;
    }
  }

  &__rating {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    height: 60px;
    background: $color-default-white;
    border-radius: 50%;

    @include vp-1023 {
      margin-top: auto;
    }

    @include vp-767 {
      width: 45px;
      height: 45px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: conic-gradient(
        $color-contacts-hover calc(var(--rating) * 1%),
        transparent 0
      );
      mask: radial-gradient(transparent 66%, $color-title-cards 56%);
      transform: rotate(0deg);

      @include vp-1023 {
        background: conic-gradient(
          $color-lines calc(var(--rating) * 1%),
          transparent 0
        );
      }

      @include vp-767 {
        width: 45px;
        height: 45px;
        padding-right: 5px;
      }
    }

    &--99 {
      --rating: 99;
    }

    &--80 {
      --rating: 80;
    }

    &--50 {
      --rating: 50;
    }

    &--25 {
      --rating: 25;
    }
  }

  &__rating-number {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: $color-accent-second;
    margin-left: 6px;
    margin-bottom: 0;
    margin-top: 2px;

    &::after {
      content: "";
      display: block;
      width: 34px;
      height: 1px;
      background: $color-title-cards;
      opacity: 0.1;
      margin: 0 auto;
    }

    @include vp-767 {
      margin-left: 0;

      &::after {
        display: none;
      }
    }
  }

  &__rating-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $color-title-cards;
    opacity: 0.4;
    text-transform: lowercase;
    margin-top: 3px;
    margin-bottom: -5px;

    @include vp-767 {
      display: none;
    }
  }

  &__actions {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 49px;

    @include vp-1023 {
      grid-column: 2;
      grid-row: 3;

      margin: auto 0 3px 29px;
    }

    @include vp-767 {
      grid-column: 1 / -1;
      grid-row: 5 / 6;
      margin: 0 auto;
      width: 100%;
    }
  }

  &__invite-button {
    padding: 15px 20px;
    border-radius: 25px;
    min-width: 150px;
    background-color: $color-button;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-title;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;

    @include vp-1023 {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      border-radius: 25px;
      padding: 15px 20px;
      min-width: 170px;
      display: block;
      align-self: flex-end;
    }

    @include vp-767 {
      font-weight: 700;
      font-size: 17px;
      line-height: 100%;
      border-radius: 25px;
      padding: 10px 20px;
      min-width: 100%;
      display: block;
      align-self: center;
      margin: 0 auto;

      min-height: 40px;
    }

    @include hover-focus {
      background-color: $color-contacts-hover;
    }

    &:active {
      opacity: 0.3;
      background-color: $color-contacts-hover;
      cursor: not-allowed;
    }
  }
}
