.travelers-filter {
  padding: 45px 45px 48px 48px;
  max-width: 285px;
  height: auto;
  align-self: start;
  border-radius: 20px;
  background-color: $color-contacts-button;
  color: $color-accent-second;
  margin: 0;

  @include vp-1279 {
    max-width: 70%;
    margin: 0 auto;
  }

  @include vp-1023 {
    background-color: #a8d2f4;
    max-width: 100%;
    padding: 37px 19px 37px 34px;
    margin-bottom: 41px;
  }

  @include vp-767 {
    padding: 26px 25px 22px;
    margin-bottom: 28px;
  }

  &__title {
    margin: 0 0 34px;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;

    @include vp-1023 {
      margin: 0 0 61px;
    }

    @include vp-767 {
      font-size: 22px;
      letter-spacing: 0.02em;
      margin: 0 0 35px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include vp-tablet {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #f3c72b;
      }

      &::before {
        top: -24px;
      }

      &::after {
        bottom: 86px;
      }
    }

    @include vp-767 {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -13px;
        height: 1px;
        background-color: #f3c72b;
      }
    }
  }

  &__section {
    position: relative;

    @include vp-tablet {
      display: flex;
      align-items: center;
      justify-items: space-between;
      padding: 15px 0;
      gap: 20px;
    }

    @include vp-767 {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 12px;
        height: 1px;
        background-color: #f3c72b;
      }

      &--level::after {
        display: none;
      }
    }

    &--transport {
      @include vp-tablet {
        padding: 13px 0 5px;
        gap: 5px;
      }
    }

    &--level {
      @include vp-tablet {
        padding: 5px 0 15px;
        gap: 5px;
        margin-bottom: 48px;
      }
    }

    &.is-open {
      .travelers-filter__header {
        margin-bottom: 25px;

        @include vp-tablet {
          margin-bottom: 0;
          cursor: default;
        }

        @include vp-767 {
          margin-bottom: 15px;
        }
      }

      .travelers-filter__toggle svg {
        transform: rotate(180deg);
      }

      .travelers-filter__list {
        display: block;

        @include vp-1023 {
          display: grid;
        }

        @include vp-767 {
          display: block;
        }
      }

      .travelers-filter__transport {
        display: flex;
      }

      .travelers-filter__level {
        display: flex;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
    cursor: pointer;

    @include vp-tablet {
      margin-bottom: 0;
      cursor: default;
    }

    @include vp-767 {
      margin-bottom: 22px;
      cursor: pointer;
    }

    @include hover-focus {
      opacity: 0.6;
    }

    @include active {
      opacity: 0.3;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;

    @include vp-tablet {
      line-height: 100%;

      &::after {
        content: ":";
      }
    }

    @include vp-767 {
      font-weight: 700;
      font-size: 16px;
      line-height: 112%;
      text-transform: uppercase;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    pointer-events: none;

    @include vp-1023 {
      display: none;
    }

    @include vp-767 {
      display: flex;
    }

    svg {
      width: 10px;
      height: 6px;
      fill: #161c35;
      transition: transform 0.3s;
    }
  }

  &__list,
  &__transport,
  &__level {
    display: none;

    @include vp-1023 {
      display: block;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    list-style: none;

    @include vp-tablet {
      display: grid;
      grid-template-columns: repeat(3, 167px);
      gap: 4px;
      margin: 0;
      margin-left: auto;
      align-self: center;
    }

    @include vp-767 {
      margin-bottom: 32px;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  &__transport {
    flex-wrap: wrap;
    margin: 0;
    margin-top: -8px;
    margin-bottom: 34px;
    padding: 0;
    list-style: none;

    @include vp-tablet {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1px;
    }

    @include vp-767 {
      margin: 0;
      margin-bottom: 32px;
      gap: 2px;
    }
  }

  &__transport-item {
    margin: 0;
  }

  &__transport-checkbox {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;

    @include vp-tablet {
      margin-top: -5px;
      margin-bottom: 5px;
    }

    @include vp-767 {
      width: 32px;
      height: 32px;
    }

    input[type="checkbox"] {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(100%);
    }

    &-label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s;
      color: #161c35;

      @include vp-767 {
        width: 32px;
        height: 32px;
      }

      svg,
      img {
        width: 23px;
        height: 22px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        fill: #161c35;
        opacity: 0.15;
        transition: opacity 0.3s;

        @include vp-767 {
          width: 17px;
          height: 16px;
        }
      }
    }

    input[type="checkbox"]:checked + &-label {
      svg,
      img {
        opacity: 1;
      }
    }

    input[type="checkbox"]:hover + &-label {
      background: rgba(22, 28, 53, 0.1);
    }

    input[type="checkbox"]:focus + &-label {
      outline: 2px solid #161c35;
      outline-offset: 2px;
    }
  }

  &__transport-text {
    position: absolute;
    bottom: -62px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #101d41;
    padding: 18px 10px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: $color-default-white;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    pointer-events: none;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #101d41;
      border-top: none;
    }

    @include vp-767 {
      font-size: 12px;
      padding: 4px 8px;
      bottom: -35px;
    }

    .travelers-filter__transport-checkbox-label:hover & {
      opacity: 1;
      visibility: visible;
    }

    input[type="checkbox"]:focus + .travelers-filter__transport-checkbox-label & {
      opacity: 1;
      visibility: visible;
    }
  }

  &__level {
    display: flex;
    padding: 0;
    margin: -8px 0 29px;
    list-style: none;
    flex-direction: column;
    gap: 15px;

    @include vp-tablet {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: 0;
      margin-left: auto;
      margin-right: 17px;
      gap: 52px;
    }

    @include vp-767 {
      margin: -4px 0 9px;
      gap: 4px;
    }
  }

  &__values {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    min-height: 46px;
    gap: 0;
    background: $color-default-white;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 15px;

    @include vp-tablet {
      min-width: 148px;
      margin: 0;
    }

    @include vp-767 {
      min-height: 34px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 1px;
      z-index: 10;
      background-color: $color-table;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3px;
      height: 13px;
      z-index: 10;
      background-color: $color-default-white;
    }
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: $color-accent-second;
    border: 1px solid $color-table;
    border-radius: 4px 0 0 4px;
    background: $color-default-white;
    width: 100%;
    text-align: center;
    padding: 12px 17px 8px 15px;

    @include vp-tablet {
      padding: 12px 5px 8px 5px;
    }

    &:nth-last-child(1) {
      border-radius: 0 4px 4px 0;
    }

    appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:hover {
      border-color: #959bb2;
    }

    &:focus {
      border-color: $color-title;
      outline: none;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 93%;
      letter-spacing: 0.06em;
      padding: 10px 5px 6px 5px;
    }
  }

  &__slider {
    flex-grow: 1;
    padding: 0;
    position: relative;

    @include vp-tablet {
      margin-left: auto;
      margin-top: 15px;
      min-width: 288px;
      order: 1;
    }
  }

  &__range-slider {
    position: relative;
    height: 13px;
    margin: 0;

    @include vp-tablet {
      margin-right: 9px;
      margin-left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background: rgba($color-accent-second, 0.15);
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: var(--range-min, 0%);
      right: calc(100% - var(--range-max, 100%));
      height: 2px;
      background: $color-title;
      top: 50%;
      transform: translateY(-50%);
    }

    input[type="range"] {
      position: absolute;
      width: 100%;
      appearance: none;
      pointer-events: none;
      background: none;
      height: 13px;
      top: 0;
      left: 0;

      @include vp-767 {
        height: 10px;
      }

      &::-moz-range-track {
        width: 100%;
        height: 2px;
        background: transparent;
        border: none;
      }

      &::-moz-range-thumb {
        width: 13px;
        height: 13px;
        background: #161c35;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: auto;
        border: none;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: scale(1.2);
        }

        &:active {
          transform: scale(1.1);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);
        }

        @include vp-767 {
          width: 10px;
          height: 10px;
        }
      }

      &:focus::-moz-range-thumb {
        transform: scale(1.2);
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        background: transparent;
        border: none;
      }

      &::-webkit-slider-thumb {
        appearance: none;
        width: 13px;
        height: 13px;
        background: #161c35;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -6px;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: scale(1.2);
        }

        &:active {
          transform: scale(1.1);
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);
        }

        @include vp-767 {
          margin-top: -4px;
          width: 10px;
          height: 10px;
        }
      }

      &:focus::-webkit-slider-thumb {
        transform: scale(1.2);
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__submit {
    width: 100%;
    min-height: 49px;
    padding: 16px 20px 12px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    background: $color-default-white;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: $color-title;

    cursor: pointer;
    transition: background-color 0.3s;

    @include vp-tablet {
      width: 97%;
    }

    @include vp-767 {
      font-weight: 700;
      font-size: 17px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;

      min-height: 41px;
      padding: 12px 20px 10px;
      width: 100%;
    }

    @include hover-focus {
      opacity: 0.8;
    }

    &:active {
      background: $color-picton-blue;
      color: rgba($color-title, 0.3);
    }
  }
}
