.way {
  position: relative;
  padding: 0;
  overflow: hidden;
  z-index: 9;

  .container {
    @include grid(52%, 1fr) {
      position: relative;
      gap: 52px;
      width: 100%;
      padding: 0;

      @include vp-1023 {
        grid-template-columns: 1fr;
        gap: 73px;
        border-radius: 60px;
        background-color: $color-solitude;
        padding: 0 0 99px;
      }

      @include vp-767 {
        gap: 24px;
        border-radius: 30px;
        padding: 0 0 53px;
      }
    }
  }

  &__wrap {
    @include flex {
      order: 1;
      gap: 18px;
      padding: 186px 61px 270px;
    }

    @include vp-1279 {
      padding: 186px 30px 270px 0;
    }

    @include vp-1023 {
      order: -1;
      gap: 30px;
      padding: 136px 73px 0;
    }

    @include vp-767 {
      gap: 16px;
      padding: 144px 14px 17px 25px;
    }
  }

  &__title {
    margin: 0;
    color: $color-midnight-express-3;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-variant: all-small-caps;

    @include vp-1439 {
      font-size: 65px;
    }

    @include vp-1279 {
      font-size: 55px;
    }

    @include vp-1023 {
      font-size: 95px;
    }

    @include vp-767 {
      font-size: 44px;
    }
  }

  &__text {
    margin: 0;
    color: $color-charcoal;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 143%;

    @include vp-1023 {
      font-size: 24px;
      line-height: 137%;
    }

    @include vp-767 {
      font-size: 14px;
      font-weight: 400;
      line-height: 157%;
    }

    br {
      display: block;

      @include vp-767 {
        display: none;
      }
    }
  }

  &__cont {
    @include flex {
      gap: 20px;
      padding: 195px 41px 170px 45px;
      border-radius: 55px;
      background-color: $color-solitude;
    }

    @include vp-1023 {
      padding: 0 48px 20px;
      border-radius: 0;
      background-color: unset;
    }

    @include vp-767 {
      padding: 0;
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    max-height: 440px;

    @include vp-767 {
      max-height: unset;
      width: 320px;
      overflow: visible;
    }
  }

  &__top,
  &__bottom {
    position: absolute;
    width: 100%;
    height: 81px;
    pointer-events: none;
    z-index: 2;

    @include vp-767 {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__top {
    top: 0;
    left: 0;
    transform: rotate(180deg);
  }

  &__bottom {
    bottom: 0;
    left: 0;
  }

  &__wrapper {
    align-items: center;
    height: 100%;
    gap: unset;

    @include vp-767 {
      flex-direction: column;
      gap: 10px;
      height: auto;
    }
  }

  &__slide {
    @include grid(1fr, 201px) {
      gap: 10px;
      width: 92%;
      padding: 0;
      border-radius: 20px;
      background: $color-default-white;
      transition: width $trans-300;
      overflow: hidden;
      flex-grow: 0;
      flex-shrink: 0;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
    }

    @include vp-1023 {
      grid-template-columns: 1fr 187px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 0;
      width: calc(100% - 50px);
      border-radius: 10px;
    }

    &__slide--none {
      display: none;
    }
  }

  .swiper-slide-active {
    width: 94%;

    @include vp-1023 {
      width: 95%;
    }

    @include vp-767 {
      width: calc(100% - 50px);
    }
  }

  & &__slide--thailand {
    @include vp-767 {
      order: -1;
    }
  }

  &__data {
    @include flex {
      gap: 4px;
      padding: 24px 33px 20px;
    }

    @include vp-1023 {
      padding: 30px 29px 20px;
    }

    @include vp-767 {
      @include grid(1fr, auto) {
        grid-auto-flow: dense;
        position: relative;
        border-radius: 10px 10px 0 0;
        margin: -6px 0 0;
        padding: 28px 18px 23px 24px;
        background-color: $color-default-white;
        z-index: 1;
        overflow: hidden;
      }
    }
  }

  &__name {
    margin: 0;
    color: $color-default-black;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @include vp-767 {
      font-size: 21px;
    }
  }

  &__gist {
    margin: 0 0 21px;
    padding: 0;
    color: $color-charcoal;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.3;

    @include vp-1023 {
      margin: 0 0 16px;
    }

    @include vp-767 {
      grid-column: 1/3;
      margin: 0;
      font-size: 16px;
      line-height: 112.5%;
    }
  }

  &__users {
    @include flex(row) {
      gap: 7px;
      padding: 0;
    }
  }

  &__user {
    width: 27px;
    height: 24px;
    flex-shrink: 0;

    @include vp-767 {
      width: 16px;
      height: 15px;
    }
  }

  &__count {
    color: $color-midnight-express;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: 0.3;

    @include vp-767 {
      font-size: 16px;
      line-height: 125%;
    }
  }

  &__pic {
    @include vp-767 {
      order: -1;
    }
  }

  &__flag img {
    width: 100%;

    @include vp-767 {
      height: 100%;
      object-fit: cover;
    }
  }

  &__pic img {
    width: auto;
    height: 100%;

    @include vp-767 {
      width: 100%;
      height: auto;
    }
  }

  &__flag {
    position: absolute;
    top: 23px;
    right: 165px;
    overflow: hidden;

    @include vp-1023 {
      top: 17px;
      right: 150px;
    }

    @include vp-767 {
      top: 91px;
      left: 25px;
      width: 35px;
      height: 25px;
      right: unset;
      z-index: 3;
      border-radius: 3px;
    }
  }

  &__btn {
    position: absolute;
    bottom: 159px;
    left: 75.8%;
    transform: translate(-75%, 0);
    width: 299px;


    @include vp-1279 {
      left: 80%;
      transform: translate(-80%, 0);
    }

    @include vp-1023 {
      position: relative;
      bottom: unset;
      left: unset;
      transform: unset;
      width: 618px;
      margin: 0 auto;
      padding: 31px 18px 27px 34px;
    }

    @include vp-767 {
      width: 270px;
      padding: 24px 22px 23px 23px;
      border-radius: 10px;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }
  }
}
