@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-medium-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-bold-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-light-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-regular-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-medium-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-bold-700.woff2") format("woff2");
}
