doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Погнали — реально крутой сервис)")
    link(rel="icon", href="img/favicon/favicon.ico")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    link(rel="manifest", href="img/favicon/site.webmanifest", crossorigin="use-credentials")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    link(rel="stylesheet", href="css/style.min.css")

    //- link(rel="preload", href="fonts/manrope-bold-700.woff2", as="font", crossorigin="anonymous")
    //- link(rel="preload", href="fonts/manrope-medium-500.woff2", as="font", crossorigin="anonymous")

  body
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

      +overlay

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
