@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-499 {
  @media (max-width: ($vp-500 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

@mixin flex($direct: column, $wrap: nowrap) {
  display: flex;
  flex-direction: $direct;
  flex-wrap: $wrap;

  @content;
}

@mixin btn($direct: row, $jus: center, $ali: center, $wrap: wrap) {
  display: inline-flex;
  flex-direction: $direct;
  justify-content: $jus;
  align-items: $ali;
  flex-wrap: $wrap;
  width: fit-content;
  height: fit-content;
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;

  @content;
}

@mixin grid($first-column: 1fr, $second-column: null, $third-column: null, $fourth-column: null, $fifth-column: null, $sixth-column: null, $seventh-column: null, $eighth-column: null, $nineth-column: null, $tenth-column: null, $r: null) {
  display: grid;

  @if $r {
    grid-template-columns: repeat(auto-fit, minmax($first-column, 1fr));
  }

  @else {
    grid-template-columns: $first-column $second-column $third-column $fourth-column $fifth-column $sixth-column $seventh-column $eighth-column $nineth-column $tenth-column;
  }

  @content;
}

@mixin pse($content: "", $display: block) {
  content: $content;
  display: $display;

  @content;
}

@mixin svg($name: null) {
  @include pse;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @content;

  @if $name {
    background-image: url("https://hhcdn.ru/ichameleon/#{$name}.svg");
  }
}
