// Colors

// Default

$color-default-black:                      #000000;
$color-default-white:                      #ffffff;
$color-transparent:                        rgba(255, 255, 255, 0);
$color-accent-main:                        #2c39f2;
$color-accent-second:                      #212121;

// Project palette

$color-alice-blue:                         #ecf6ff;
$color-chambray:                           #516172;
$color-picton-blue:                        #4d99d6;
$color-jordy-blue:                         #7ebaeb;
$color-pale-cornflower-blue:               #a8d2f4;
$color-pattens-blue:                       #cce5fa;
$color-midnight-express:                   #161c35;
$color-midnight-express-2:                 #272b3b;
$color-midnight-express-3:                 #192144;
$color-midnight-express-4:                 #121936;
$color-midnight-express-5:                 #101d41;
$color-catalina-blue:                      #1d2e5b;
$color-charcoal:                           #444444;
$color-solitude:                           #edeff6;
$color-solitude2:                          #e1e3e9;
$color-solitude3:                          #e2e5f1;
$color-salmon:                             #f97676;
$color-blue-zodiac:                        #3f4251;
$color-lawn-green:                         #81e31e;
$color-ghost-white:                        #f3f4f8;
$color-spindle:                            #b8cde0;
$color-red:                                #ff0000;
$color-pink-swan:                          #b2b2b2;

// Gradient

$black-to-right:                           linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

$grad-type1:                               linear-gradient(170deg, #a6f663 -12.98%, #ffffff 99.2%);


// Typography

$fz-default:                               16px;
$ff-rouble:                               "Rouble", "Arial", sans-serif;
$ff-placeholder:                          "Placeholder", "Arial", sans-serif;
$ff-roboto:                               "Roboto", "Arial", sans-serif;

// Animation

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-700:                         0.7s linear;
$trans-600:                         0.6s $tf-default;
$trans-400:                         0.4s linear;
$trans-300:                         0.3s linear;
$trans-200:                         0.2s linear;
$trans-100:                         0.1s linear;

// Viewports

$vp-320:                            320px;
$vp-375:                            375px;
$vp-500:                            500px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
