mixin picture(path, image, format, widthMob, heightMob, widthDesk, heightDesk, altText)
  picture(class!=attributes.class)
    source(type="image/webp", media="(min-width: 1024px)", srcset="img/" + path + "/" + image + "-l@1x.webp" + ", " + "img/" + path + "/" + image + "-l@2x.webp" + " 2x", width= widthDesk, height= heightDesk)
    source(type="image/webp", srcset="img/" + path + "/" + image + "-xs@1x.webp" + ", " + "img/" + path + "/" + image + "-xs@2x.webp" + " 2x")
    source(type="image/webp", media="(min-width: 1024px)", srcset="img/" + path + "/" + image + "-l@1x." + format + ", " + "img/" + path + "/" + image + "-l@2x." + format + " 2x", width= widthDesk, height= heightDesk)
    img(src="img/" + path + "/" + image + "-xs@1x." + format, srcset= "img/" + path + "/" + image + "-xs@2x." + format + " 2x", width= widthMob, height= heightMob, alt= altText, loading="lazy")&attributes(attributes)
